"*":
  "atom-beautify":
    general:
      _analyticsUserId: "7b52a3a8-5f19-40a6-86a6-791a457b6c7e"
  core:
    themes: [
      "one-dark-ui"
      "monokai-seti"
    ]
  editor:
    fontSize: 10
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "6ddb4dff-5bcb-08af-ae73-69cdb414f5b3"
  "one-dark-ui": {}
  "php-debug":
    GutterPosition: "Left"
    PathMaps: [
      "/var/www/app;/Users/LordOsama/vagrant/drzolb.dev"
    ]
    ServerPort: 9999
  welcome:
    showOnStartup: false
".angular.html.text":
  editor:
    tabLength: 4
